* {
	margin: 0;
	padding: 0;
	font-family: Jost;
	font-weight: 400;
}
.row {
	display: flex;
	justify-content: space-between;
}
.col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.cent {
	align-items: center;
}
.right {
	align-items: flex-end;
	text-align: right;
}
h1 {
	font-size: 64px;
}
h2 {
	font-family: Secular One;
}
h3 {
	font-size: 48px;
	font-weight: 600;
	padding: 12px 0;
	margin-top: 60px;
}
.h3l {
	font-weight: 400;
	letter-spacing: 0.35em;
	text-align: center;
}
h4 {
	font-size: 40px;
}
.hw {
	font-weight: 500;
}
.hx {
	font-size: 36px;
}
li, h2, p {
	font-size: 24px;
	list-style: none;
}
span {
	font-size: 19px;
}
.logo img{
	margin-right: 8px;
}
header, footer {
	background-color: black;
	color: white;
	padding: 16px 0;
}
footer {
	padding: 70px;
}
.half {
	width: 65%;
	margin: 0 auto;
}
.m2 {
	margin: 0 auto;
	width: 84%;
	margin-bottom: 70px;
}
.i1 {
	left: -5%;
	width: 50%;
}
.ir img, .lx img {
	width: 100%;
}
@keyframes wipe-enter {
  0% {
    transform: translateX(-100px);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes wipe-enter2 {
  0% {
    transform: translateX(100px);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes topX {
  0% {
    transform: translateY(50px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes reduce {
  0% {
    transform: scaleX(1.5);
    opacity: 0%;
  }
  100% {
    transform: scaleX(1.0);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .line-animation {
    animation: wipe-enter 1.4s 1;
  }
  .line-animation2 {
    animation: wipe-enter2 1.4s 1;
  }
  .topX {
  	animation: topX 1.4s 1;
  }
  .reduce {
  	animation: reduce 1.4s 1;
  }
}

.ART {
	right: 0;
}
.AR {
	right: -10%;
}
.AT {
	top: 0;
}
.abs {
	position: absolute;
}
.text {
	width: 68%;
}
.px {
	font-size: 20px;
}
button {
	background: linear-gradient(91.13deg, #462FD3 1.5%, #670CDB 103.63%);
	font-size: 32px;
	padding: 8px 37px;
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
	border-radius: 18px;
	border: none;
	color: white;
}
.arrow {
	position: absolute;
	left: 47%;
	bottom: 0;
}
.t2 {
	width: 600px;
}
.t1 {
	width: 450px;
	margin: 60px 15% 20px;
}
.l, .x {
	width: 100%;
}
.l {
	margin-top: 36px;
}
.xt {
	background: linear-gradient(90deg, #5AFF7F 0%, rgba(86, 241, 120, 0) 86.67%);
}
.xr {
	background: linear-gradient(270deg, #5AFF7F 0%, rgba(86, 241, 120, 0) 86.67%);
}
.x {
	border-radius: 63px;
	font-size: 32px;
	margin: 25px 0;
	animation-duration: 1.2s;
}
.x p {
	margin: 0 auto;
}
.rel {
	position: relative;
}
.i2 {
	margin-top: 200px;
	width: 57%;
}
.exp, .process, .process img {
	width: 100%;
}
.AT h3 {
	margin-top: 100px;
}
.pc {
	text-align: center;
	margin: 25px;
}
.x1 {
	margin-top: 45px;
	background-color: #80E396;
	border-radius: 30px;
}
.x1 h4 {
	margin: 0 auto;
	width: 45%;
	color: white;
}
.process .col {
	width: 25%;
}
.tr {
	transform: rotate(90deg);
	right: -120px;
}
.i4 {
	width: 50%;
	left: -10%;
	margin-top: 50px;
}
.i5 {
	margin-top: 50px;
	left: -5%;
}
.i5 .cent, .black {
	width: 78%;
}
.i5 .cent {
	margin-top: 50px;
	margin-left: 50px;
}
.i6 {
	bottom: 0;
	z-index: 1;
}
.black {
	background-color: black;
	margin-top: 5%;
	padding: 15px;
}
.green {
	background: linear-gradient(270deg, #80E396 2.43%, rgba(201, 241, 86, 0.1) 100%);
	padding: 5px;
	width: 80%;
}
.w1 {
	width: 60%;
}
.w2 {
	width: 35%;
}
.h {
	width: 11%;
}
.h img {
	padding: 15% 0;
}
.lx {
	width: 80%;
	margin: 20px 0 40px;
}
.lx div {
	width: 22%;
}